:global(html) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

:global(body) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  background-color: $white;
  color: $black;
}

:global(a) {
  color: $black;
  text-decoration: none;
}

:global(*) {
  outline: none;
  margin: 0;
  font-family: $ff-base;
  line-height: 1.1;
  scroll-behavior: smooth;
}

/* width */
:global(::-webkit-scrollbar) {
  width: 8px;
}

/* Track */
:global(::-webkit-scrollbar-track) {
  // background: #f1f1f1;
  background: $black;
}

/* Handle */
:global(::-webkit-scrollbar-thumb) {
  background: $white;
  border-radius: 0.5em;
}

/* Handle on hover */
:global(::-webkit-scrollbar-thumb:hover) {
  background: rgba($white, 0.9);
}

/* --- Container --- */

@mixin container-row {
  flex-direction: row;
  align-items: center;

  &.row-centre-- {
    justify-content: center;
  }

  &.row-wrap-- {
    flex-wrap: wrap;
  }

  &.row-top-- {
    align-items: flex-start;
  }
}

@mixin container-col {
  flex-direction: column;
  align-items: flex-start;

  &.col-centre-- {
    align-items: center;
  }

  &.col-right-- {
    align-items: flex-end;
    text-align: right;
  }
}

.container {
  display: flex;
  @include container-row;
  @include background;

  &.stretch-- {
    // width: 100%;
    align-self: stretch;
  }

  &.row-md--,
  &.row-lg--,
  &.col-- {
    @include container-col;
  }

  &.desktop-only-- {
    display: none;
  }
}

@media (min-width: $bp-md) {
  .container {
    &.row-md-- {
      @include container-row;
    }

    &.col-md-- {
      @include container-col;
    }
  }
}

@media (min-width: $bp-lg) {
  .container {
    &.row-lg-- {
      @include container-row;
    }

    &.col-lg-- {
      @include container-col;
    }

    &.mobile-only-- {
      display: none;
    }

    &.desktop-only-- {
      display: flex;
    }
  }
}

/* --- block --- */

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  @include background;

  &.half-- {
    min-height: calc(50vh - #{$header-height} - #{$footer-height});
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include wrapper;
}

/* --- Section --- */

.section {
  display: flex;
  align-self: stretch;
  padding: 50px 0;
  @include container-col;
  @include background;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

/* --- Heading --- */

.heading {
  font-family: $ff-style;
  letter-spacing: -0.08em;
  font-size: 60px;
  text-shadow: 0.05em 0.03em $white;
  line-height: 0.9em;
  padding-bottom: 10px;
}

@media (min-width: $bp-md) {
  .heading {
    font-size: 90px;
  }
}

/* --- Subheading --- */

.subheading {
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: $bp-md) {
  .subheading {
    font-size: 35px;
  }
}
