:global(html) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

:global(body) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  background-color: $white;
  color: $black;
}

:global(a) {
  color: $black;
  text-decoration: none;
}

:global(*) {
  outline: none;
  margin: 0;
  font-family: $ff-base;
  line-height: 1.1;
  scroll-behavior: smooth;
}

/* --- Section --- */

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  background-position: center;
  background-repeat: no-repeat;
}

.section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include wrapper;
}

/* --- Container --- */

@mixin container-row {
  flex-direction: row;
  align-items: center;
}

@mixin container-col {
  flex-direction: column;
  align-items: flex-start;

  &.col-right-- {
    align-items: flex-end;
    text-align: right;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  &.row-md--,
  &.row-lg--,
  &.col-- {
    @include container-col;
  }
}

@media (min-width: $bp-md) {
  .container {
    &.row-md-- {
      @include container-row;
    }

    &.col-md-- {
      @include container-col;
    }
  }
}

@media (min-width: $bp-lg) {
  .container {
    &.row-lg-- {
      @include container-row;
    }

    &.col-lg-- {
      @include container-col;
    }
  }
}

/* --- Heading --- */

.heading {
  font-family: $ff-style;
  letter-spacing: -0.08em;
  font-size: 60px;
  text-shadow: 0.05em 0.03em $white;
  line-height: 0.9em;
  padding-bottom: 10px;
}

@media (min-width: $bp-md) {
  .heading {
    font-size: 80px;
  }
}
