@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Rubik:wght@500&display=swap");

$white: #fff;
$black: #424242;
$wrapper-gutter: 20px;
$wrapper-width: 1200px;

$bp-sm: 640px;
$bp-md: 800px;
$bp-lg: 1024px;
$bp-xl: 1280px;

$ff-base: "DM Sans";
$ff-alpha: "DM Sans";
$ff-style: "DM Sans";

$header-height: 76px;
$footer-height: 76px;
